<!-- {% set section = header %}
<div
  class="bg-blue-FF font-bold px-[10px] text-white-FD relative flex overflow-x-hidden items-center py-0 text-xs leading-[2] running-line md:text-base"
  data-onShow="true"
>
  <div class="animate-marquee md:animate-marquee-md whitespace-nowrap flex xl:animate-marquee-xl">
    <span class="mx-4 block py-1">{{section.time}}</span>
    <span class="mx-4 block py-1">{{section.time}}</span>
    <span class="mx-4 hidden py-1 xl:block">{{section.time}}</span>
    <span class="mx-4 hidden py-1 xl:block">{{section.time}}</span>
  </div>

  <div
    class="absolute top-0 animate-marquee2 md:animate-marquee2-md xl:animate-marquee2-xl whitespace-nowrap flex"
  >
    <span class="mx-4 block py-1">{{section.time}}</span>
    <span class="mx-4 block py-1">{{section.time}}</span>
    <span class="mx-4 hidden py-1 xl:block">{{section.time}}</span>
    <span class="mx-4 hidden py-1 xl:block">{{section.time}}</span>
  </div>
</div>
<div class="bg-blue-FF text-white-FD text-xs leading-[2] static-line md:text-base font-bold hidden">
  <p class="mx-4 block py-1 text-center" data-onShow="false">{{section.time}}</p>
</div>
<div class="hidden h-8 empty-line" data-onShow="true"></div> -->
